ve.edu.ucab.salonesregistro.web/ReservasService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://logica.salonesregistro.ucab.edu.ve/" name="ReservasService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://logica.salonesregistro.ucab.edu.ve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://logica.salonesregistro.ucab.edu.ve/" schemaLocation="ReservasService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listaReservas">
    <part name="parameters" element="tns:listaReservas"/>
  </message>
  <message name="listaReservasResponse">
    <part name="parameters" element="tns:listaReservasResponse"/>
  </message>
  <message name="realizarReserva">
    <part name="parameters" element="tns:realizarReserva"/>
  </message>
  <message name="realizarReservaResponse">
    <part name="parameters" element="tns:realizarReservaResponse"/>
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException"/>
  </message>
  <message name="listaSalones">
    <part name="parameters" element="tns:listaSalones"/>
  </message>
  <message name="listaSalonesResponse">
    <part name="parameters" element="tns:listaSalonesResponse"/>
  </message>
  <portType name="Reservas">
    <operation name="listaReservas">
      <input message="tns:listaReservas"/>
      <output message="tns:listaReservasResponse"/>
    </operation>
    <operation name="realizarReserva">
      <input message="tns:realizarReserva"/>
      <output message="tns:realizarReservaResponse"/>
      <fault message="tns:ParseException" name="ParseException"/>
    </operation>
    <operation name="listaSalones">
      <input message="tns:listaSalones"/>
      <output message="tns:listaSalonesResponse"/>
    </operation>
  </portType>
  <binding name="ReservasPortBinding" type="tns:Reservas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listaReservas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="realizarReserva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ParseException">
        <soap:fault name="ParseException" use="literal"/>
      </fault>
    </operation>
    <operation name="listaSalones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ReservasService">
    <port name="ReservasPort" binding="tns:ReservasPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

